@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');


body {
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000; 
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

nav li a:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

.title {
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}

.medium-video {
    width: 35%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: #333;
    position: relative;
}

.medium-video:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.medium-video::before {
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.medium-video video {
    position: relative;
    z-index: 0;
}

.mainabout {
  text-align: center;
  margin-top: -30px;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 40px;
}