@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

body{
    background-image: url(images/background\ gif3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000; 
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

nav li a:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

.title {
    text-align: center;
    font-size: 100px;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 100px;
}

.title2{
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    margin-top: -85px;
}

.button{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    background-color: black;
    color: darkgreen;
    font-family: 'Chakra Petch', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid darkgreen;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    margin: auto;
}

.button:hover {
    transform: scale(1.1);
}

.time {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 500px;
    margin-top: 50px;
}

footer{
    color: #fff;
    margin-top: 270px;
    text-align: center;
    font-size: large;
    margin: 0 auto;
    padding: 0%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
