.nav-bar {
  font-size: 10px;
  text-align: center;
  display: flex;
  position: relative;
  margin-left: 40%;
}

.nav-content {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.nav-bar ul li a {
  display: block;
  color: grey;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.4s;
  margin: 0 5px;
  margin-bottom: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-left: -30px;
}

.nav-bar ul li a:hover {
  color: black;
}

.nav-bar ul li a:active {
  color: black;
}

.name {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 30%;
  margin-top: -65px;
  color: #26335D;
}

.medical-section1 p {
  margin-top: 8%;
  font-size: 20px;
  margin-left: 30%;
  color: darkgoldenrod;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.medical-section1 h1 {
  font-size: 55px;
  margin-top: 2%;
  margin-left: 30%;
  color: #26335D;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hsp {
  font-size: 20px;
  top: -40px;
  margin-left: 30%;
  color: grey;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.medical-section1 img {
  margin-left: 63%;
  top: -400px;
  position: relative;
  display: flex;
}

.medical-section1 {
  background-color: #F8F8F8FF;
  padding: 100px;
}

.medical-section1 h2 {
  font-size: 25px;
  margin-top: -27%;
  margin-left: 30%;
  color: grey;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  margin-top: 50px;
  margin-left: 30%;
  border: 1px solid #FC724D;
  border-radius: 7px;
  background-color: #FC724D;
  width: 15%;
  height: 65px;
  padding: 25px;
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.main:hover {
  background-color: orange;
}

.learnmore {
  top: -165px;
  color: darkorange;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width: 12%;
  height: 65px;
  display: flex;
  margin-left: 46%;
  margin-top: 100px;
  position: relative;
  border: 1px solid darkorange;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.learnmore:hover {
  background-color: lightgrey;
}

.loginbtn {
  font-size: 15px;
  font-weight: 700;
  color: #FC724D;
  top: -35px;
  margin-left: 75%;
  background-color: white;
  border-radius: none;
  border: none;
  position: relative;
  cursor: pointer;
}

.joinusbtn {
  font-size: 15px;
  font-weight: 700;
  width: 8%;
  height: 50px;
  color: #fff;
  top: -70px;
  margin-left: 80%;
  background-color: #FC724D;
  border-radius: 7px;
  border: 1px solid #FC724D;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.joinusbtn:hover {
  background-color: orange;
}

.smalldesc1 {
  background-color: #fff;
  padding: 65px;
  width: 190px;
  height: 230px;
  box-shadow: grey 0px 3px 5px;
  margin-left: 32%;
  margin-top: -8%;
}

.smalldesc1 h1 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #26335D;
}

.smalldesc1 p {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
}

.liner {
  margin-top: 10%;
  margin-left: 1px;
  width: 100px;
  height: 5px;
  background-color: #E74040;
}

.smalldesc2 {
  background-color: #fff;
  padding: 65px;
  width: 190px;
  height: 230px;
  box-shadow: grey 0px 3px 5px;
  margin-left: 52%;
  margin-top: -19.1%;
}

.smalldesc2 h1 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #26335D;
}

.smalldesc2 p {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
}

.liner2 {
  margin-top: 10%;
  margin-left: 1px;
  width: 100px;
  height: 5px;
  background-color: #E74040;
}

.smalldesc3 {
  background-color: #fff;
  padding: 65px;
  width: 190px;
  height: 230px;
  box-shadow: grey 0px 3px 5px;
  margin-left: 72%;
  margin-top: -19.1%;
}

.smalldesc3 h1 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #26335D;
}

.smlldesc3 p {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
}

.liner3 {
  margin-top: 10%;
  margin-left: 1px;
  width: 100px;
  height: 5px;
  background-color: #E74040;
}

.new-section {
  margin-top: 15%;
  background-color: #fff;
}

.new-section img {
  margin-left: 30%;
}

.new-section h1 {
  margin-top: -17%;
  margin-left: 60%;
  color: #26335D;
  font-size: 45px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-section p {
  margin-top: 2%;
  margin-left: 60%;
  color: grey;
  width: 400px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.liner4 {
  top: -350px;
  margin-left: 60%;
  width: 100px;
  height: 7px;
  background-color: #E74040;
  position: relative;
  display: flex;
}

.new-section a {
  top: 30px;
  margin-left: 60%;
  color: #FC724D;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: flex;
  text-decoration: none;
}

.new-section2 {
  margin-top: 15%;
  background-color: #fff;
}

.new-section2 img {
  margin-left: 58%;
  margin-top: 2%;
}

.new-section2 h1 {
  margin-top: -17%;
  margin-left: 30%;
  color: #26335D;
  font-size: 45px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-section2 p {
  margin-top: 2%;
  margin-left: 30%;
  color: grey;
  width: 350px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.liner5 {
  top: -350px;
  margin-left: 30%;
  width: 100px;
  height: 7px;
  background-color: #E74040;
  position: relative;
  display: flex;
}

.learnmorebtn2 {
  top: -100px;
  margin-left: 30%;
  color: #FC724D;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: flex;
  text-decoration: none;
}

.experts-section {
  margin-top: 15%;
  background-color: #fff;
}

.experts-section h1 {
  margin-top: 20%;
  margin-left: 30%;
  color: #26335D;
  font-size: 45px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.experts-section h2 {
  top: 370px;
  margin-left: 30%;
  color: #FC724D;
  width: 350px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: flex;
}

.experts-section p {
  margin-top: auto;
  margin-left: 30%;
  color: grey;
  width: 400px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.expertsimage {
  margin-top: 5%;
  margin-left: 35%;
  display: flex;
}

.name1 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #26335D;
  top: auto;
  margin-left: 39.5%;
  display: flex;
  position: relative;
}

.experts-desc img {
  margin-top: 5%;
  margin-left: 38%;
  display: flex;
}

.desc1 {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
  width: 260px;
  margin-top: -9%;
  margin-left: 35%;
  display: flex;
}

.role1 {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
  width: 260px;
  margin-top: 105px;
  margin-left: 40.5%;
  display: flex;
}

.name2 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #26335D;
  top: -60px;
  margin-left: 60.5%;
  display: flex;
  position: relative;
}

.desc2 {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
  width: 260px;
  margin-top: -12.2%;
  margin-left: 57%;
  display: flex;
}

.role2 {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
  width: 260px;
  margin-top: 105px;
  margin-left: 61.5%;
  display: flex;
}

.endsection {
  background-color: #39BEF8;
  padding: 200px;
  margin-top: 100px;
}

.endsection h2 {
  font-size: 20px;
  margin-top: -20px;
  margin-left: 50%;
  color: #FC724D;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.endsection h1 {
  font-size: 45px;
  margin-top: -5px;
  margin-left: 48%;
  color: #26335D;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.endsection p {
  font-size: 15px;
  margin-top: 2%;
  margin-left: 42%;
  color: grey;
  width: 400px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsletterinput {
  background-color: #fff;
  border: 1px solid white;
  border-radius: 2px;
  width: 500px;
  height: 40px;
  margin-left: 37%;
  margin-top: 50px;
  color: grey;
}

.newsletterinput::placeholder {
  color: grey;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-indent: 15px;
}

.newsletterinput:focus {
  border-color: #FC724D !important;
}

.endsection button {
  background-color: #FC724D;
  border: 1px solid #FC724D;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-radius: 2px;
  width: 100px;
  height: 44px;
  margin-left: -4px;
  cursor: pointer;
  transition: 0.2s;
}

.endsection button:hover {
  background-color: orange;
}

.newsletter {
  margin-left: -5%;
}

.endofsection {
  background-color: #fff;
  padding: 300px;
}

.contactinfo h1 {
  font-size: 20px;
  margin-top: -200px;
  margin-left: 68%;
  color: #26335D;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.phone {
  font-size: 15px;
  margin-top: 2%;
  margin-left: 80%;
  color: grey;
  width: 400px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-phone {
  position: relative;
  margin-left: 77.5%;
  color: #FC724D;
  font-size: 20px;
  top: -34px;
  display: flex;  
}

.loc {
  position: relative;
  margin-left: 76%;
  color: grey;
  font-size: 15px;
  font-weight: 900;
  top: -34px;
  display: flex;
}

.fa-map-marker-alt {
  position: relative;
  margin-left: -95%;
  color: #FC724D;
  font-size: 25px;
  top: -5px;
  display: flex;
}

.email {
  position: relative;
  margin-left: 80%;
  color: grey;
  font-size: 15px;
  font-weight: 900;
  top: -34px;
  display: flex;
}

.fa-envelope {
  position: relative;
  margin-left: 77.5%;
  color: #FC724D;
  font-size: 25px;
  top: -70px;
  display: flex;
}

.madeby {
  position: relative;
  margin-left: 40%;
  color: grey;
  font-size: 15px;
  font-weight: 900;
  top: 300px;
  display: flex;
}

.social-media p {
  color: #fff;
}

.social-icons {
  display: flex;
  margin-top: -20%;
  margin-left: 73%;
}

.social-icons a {
  width: 50px;
  height: 50px;
  color: #FC724D;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  font-size: 25px;
  margin-right: -9px;
  transition: 0.3s;
  margin-top: 50px;
}

.social-icons a:hover {
  transform: scale(1.08);
}