    @font-face {
        font-family: myFont;
        src:url(./fonts/BookmanStd-Light.otf);
    }


    body {
        background-color: #F3E5D8;
    }

    .main-container {
        width: 40rem;
        height: 90rem;
        background-color: hsl(0, 0%, 100%);
        box-sizing: border-box;
        border-radius: 20px;
        margin: 0 auto;
        top: 100px;
        display: flex;
        align-items: center;
        border: 1px;
        position: relative;
    }

    .main-container img {
        border: 1px;
        border-radius: 7px;
        left: 3rem;
        margin-top: -70rem;
        position: relative;
        box-sizing: border-box;
        position: relative;
    }

    .mainheadertext {
        font-family: myFont;
        font-weight: bold;
        width: 1700px;
        color: #2F2D2C;
        margin: 0 auto;
        display: flex;
        margin-left: -31rem;
        top: -23rem;
        position: relative;
    }

    .maindesc p {
        top: -60rem;
        width: 31%;
        margin-left: 41rem;
        font-size: 15px;
        font-weight: bold;
        color: grey;
        position: relative;
    }